@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  margin-bottom: 70px;
  background-color: rgb(39, 44, 67) !important;
}

#name {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  opacity: 0;
  border-radius: 5px;
  border: 3px solid rgb(245, 128, 128);
  padding: 0px 5px;
  font-size: 1.5rem;
  margin-left: 10px;
}

/* #timeCont {
  background-color: white;
  width: fit-content;
  font-size: 2 rem;
  padding: 5px 5px;
  border-radius: 5px;
  border: 3px solid white;
} */

div#map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  padding: 25px;
  /* width: 90%; */
  /* transform: scale(0.9); */
  /* width: 100%; */
}

svg path {
  cursor: pointer;
  z-index: -999;
  /* height: auto; */
}

svg {
  height: 100%;
}

/* svg path:hover {
    fill: pink;
  } */
.box {
  font-size: 20px;
}
.container {
  width: 90%;
  margin-inline: auto;
}

.navigation {
  width: 100%;
  padding: 20px 0 10px 0;
}

.navigation .box-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation .box-navigation .box:nth-child(1) h1 {
  font-size: 45px;
  color: white;
}

.navigation .box-navigation .box:nth-child(2) ul {
  display: flex;
  flex-direction: row;
}

.navigation .box-navigation .box:nth-child(2) ul li {
  list-style-type: none;
  margin-left: 40px;
}

.navigation .box-navigation .box:nth-child(2) ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.navigation .box-navigation .box:nth-child(2) ul li a:hover {
  color: rgb(255, 0, 0);
}

.navigation .box-navigation .box:nth-child(3) {
  display: none;
}

.navigation .box-navigation .box:nth-child(2) ul li i {
  display: none;
}

.regional-group {
  color: #fff;
}

.regional {
  /* height: 100vh; */
  padding: 50px;
  /* background-color: rgb(39, 44, 67); */
}
.regional h1 {
  text-align: center;
  /* padding-top: 30px;
  color: white;
  font-weight: 600; */
}

.box-shadow {
  padding: 20px;
  box-shadow: 0px 0px 10px white;
}

.title-island {
  font-size: 3em;
  text-shadow: 0 0 10px #ffffff;
  color: #ffffff;
}

.about-island,
.cultures,
.culture-news {
  width: 90%;
}

.about-island {
  display: flex;
  align-items: center;
  margin: 50px auto;
  column-gap: 60px;
}

.cultures {
  display: flex;
  margin: 50px auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 100px 50px; */
  row-gap: 100px;
  column-gap: 50px;
  /* height: 500px; */
  margin-top: 100px;

  /* position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 100px 50px;
        padding: 100px 50px; */
}

/* .culture-card {
        max-width: 250px;
        border: 1px solid black;
        padding: 5px;
      }

      .culture-card h2 {
        text-align: center;
      }

      .culture-card img {
        width: 100%;
      } */

.cultures .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  /* max-width: 100%; */
  height: 300px;
  background: white;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.cultures .card:hover {
  height: 400px;
}

.cultures .card .img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.cultures .card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.cultures .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cultures .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}

.cultures .card:hover .content {
  top: 130px;
  height: 250px;
}

.cultures .card .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr);
}

.cultures .card .content p {
  color: #333;
}

.cultures .card .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background: var(--clr);
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
}

.culture-news {
  display: flex;
  margin: auto;
  align-items: center;
  column-gap: 60px;
}

.news-image img {
  width: 30vw;
}

.news-description a {
  color: #fff;
  text-decoration: none;
}

.news-description a:hover {
  color: gray;
}

#topBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#topBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

@media screen and (max-width: 1300px) {
  .about-island {
    flex-direction: column;
    row-gap: 20px;
  }
}

@media screen and (max-width: 900px) {
  .culture-news {
    flex-direction: column-reverse;
    row-gap: 20px;
  }

  .news-image img {
    width: 70vw;
  }
}

@media screen and (max-width: 800px) {
  video {
    width: 70vw;
  }
}
